// ---------------------------------------------------------------------
//  Global Header Styles
// ---------------------------------------------------------------------

//https://jsfiddle.net/jvhb4bvn/

.site-header {
	position: relative;
	z-index: 10;
	width: 100%;
	background: $white;

	@include stop-at($header-breakpoint) {
		position: fixed;
		left: 0;
		top: 0;
		border-top: 1px solid $white;
	}
}

$header-height-sm: 60px;
$header-height: 72px;

.site-header .wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: $header-height;

	@include stop-at($header-breakpoint) {
		height: $header-height-sm;
	}

	@include start-at($large) {
		height: 96px;
	}
}


// ----------------------------------------
// Logo Styles
// ----------------------------------------

$logo-width: 220px;
$logo-height: 72px;

.logo {
	flex-grow: 1;
}

.logo a {
	// max-width: $logo-width;
	// display: block;
	// color: $white;

	display: block;
	font-family: $sans-serif;
	font-size: 60px;
	line-height: 1;

	cursor: default;
	color: $black;

	img {
		width: 54px;
	}
}


// ----------------------------------------
// Site Navigation
// ----------------------------------------

.site-navigation {
	text-align: center;
	padding: 40px 0;

	li > *,
	a {
		display: block;
		padding: 6px 12px;
		letter-spacing: 1px;
		font-size: 24px;
		color: $white;
		font-weight: bold;
	}

	@include start-at($header-breakpoint) {
		padding: 0;
		display: flex;
		justify-content: flex-end;

		ul {
			max-width: 600px;
			padding-left: 40px;
			display: flex;
			align-items: center;
			justify-content: space-between;

			li {
				flex-grow: 1;

				+ li {
					margin-left: 10px;
				}
			}
		}

		li > *,
		a {
			color: $black;
			padding: 4px 8px;
			font-size: 14px;
		}
	}

	@include start-at($large) {
		li > *,
		a {
			padding: 4px 4px;
			font-size: 16px;
		}
	}
}


// ----------------------------------------
// Slidding Panel
// ----------------------------------------

.site-header-panel {
	flex-grow: 1;
}

@include stop-at($header-breakpoint) {

	$panel-width: 100%;

	.site-header-panel {
		position: fixed;
		height: 100%;
		width: $panel-width;
		padding: 0 24px;
		left: 0;
		margin-left: -$panel-width;
		background: $brand;
		z-index: 10;
		bottom: $header-height-sm;
		top: 0;
		padding-bottom: $header-height-sm;
		overflow-x: hidden;
		overflow-y: auto;
		transition: margin-left 0.4s ease-in-out;

		.mobile-menu-is-open & {
			margin-left: 0;
		}
	}

	// ----------------------------------------
	// Menu Mask
	// ----------------------------------------

	.menu-mask {
		opacity: 0;
		transition: opacity $transition;

		&:hover {
			cursor: default;
		}
	}


	// ----------------------------------------
	// Menu Is Open
	// ----------------------------------------
	.mobile-menu-is-open {
		overflow: hidden;

		.menu-mask {
			display: block;
			position: absolute;
			z-index: 8;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			opacity: 1;
			background: rgba(0,0,0,0.4);
		}
	}
}
